!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EAsamblea
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    
%nav.navbar.navbar-expand-xl.nav_area.sticky
  .container
    .logo
      %a.logo-light{:href => ""}EAsamblea
      %a.logo-dark{:href => ""} EAsamblea
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.navbar-center.main_menu.onepage_nav
        %li.nav-item.active
          %a.nav-link{:href => "#home"} Home
        %li.nav-item
          %a.nav-link{:href => "#about"} About
        %li.nav-item
          %a.nav-link{:href => "/posts"} timeline
        %li.nav-item
          %a.nav-link{:href => "/posts/new"} 投稿
= yield
